@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lora Variable', serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    @apply text-2xl md:text-5xl;
    font-family: 'Cormorant Garamond', serif;
}

main {
    @apply mb-24
}

